body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#1d2671;
    font-family:Arial;
}

div{
    background:#fff;
    padding:25px;
    width:320px;
    border-radius:10px;
}

h2,p{
    text-align:center;
}

form div{
    margin-bottom:12px;
}

input{
    width:100%;
    padding:8px;
}

button{
    width:100%;
    padding:10px;
    background:#1d2671;
    color:#fff;
    border:none;
    cursor:pointer;
}
